<data><pre>
        1       2       3       4       5       6       7       8       9       10
0       GA      GG      GA      GA      GG      GG      GA      GA      GG      GG
1       CT      CC      CT      CT      CC      CC      CT      CT      CC      CC
2       GG      GA      GG      GG      GA      GG      GA      GG      GA      GG
3       CA      AA      AA      AA      CA      CC      AA      AA      CA      CA
4       CT      CC      .       CC      CT      TT      .       CC      .       .
5       GG      GA      GA      GA      GG      GG      GG      GA      GG      GA
6       TT      CT      TT      TT      CT      TT      CT      TT      CT      TT
7       CT      CC      CC      CC      CC      .       CC      CC      CC      .
8       CC      TT      TC      TC      TC      .       TC      TC      TC      .
9       TT      CT      TT      TT      CT      .       CT      TT      CT      .
10      TA      TT      TT      TT      TT      TT      TT      TT      TT      TT
11      GA      AA      AA      AA      GA      GG      AA      AA      GA      GA
12      TC      CC      .       CC      TC      TT      CC      CC      TC      TC
13      TC      CC      CC      CC      TC      TT      CC      CC      TC      TC
14      GG      GC      GG      GG      GG      GG      GG      GG      GG      GG
15      CC      CT      CC      CC      CC      CC      CC      CC      CC      CC
16      AA      AG      AA      AA      AG      AA      AG      AA      AG      AA
17      CT      CC      CC      CC      CT      TT      CC      CC      CT      .
18      AG      GG      AG      AG      GG      GG      AG      AG      GG      GG
19      TC      CC      TC      TC      CC      CC      TC      TC      CC      CC
20      AA      GG      GA      GA      GA      AA      GA      GA      GA      GA
21      CC      TC      TC      TC      .       .       .       .       .       .
22      CC      TC      TC      TC      CC      .       CC      TC      CC      TT
23      CT      TT      CT      CT      TT      TT      CC      CT      TT      TT
24      AA      AG      AA      AA      AG      AA      AG      AA      AG      AA
25      AA      GG      GA      GA      GA      AA      GA      GA      GA      GA
26      GG      GA      GG      GG      GA      GG      GA      GG      GA      GG
27      GG      GA      GG      GG      GA      GG      GA      GG      GA      GG
28      TT      CC      TC      TC      TC      TT      TC      TC      TC      TC
29      CC      CT      CT      CT      CC      CC      CC      CT      CC      CT
30      AA      GA      AA      AA      GA      AA      GA      AA      GA      AA
31      AT      AA      AA      AA      AA      AA      AA      AA      AA      AA
32      GG      TG      GG      GG      TG      GG      TG      GG      GG      GG
33      TT      CT      TT      TT      CT      TT      CT      TT      TT      TT
34      AA      GA      AA      AA      GA      AA      GA      AA      AA      AA
35      GG      GA      GG      GG      GA      GG      GA      GG      GA      GG
36      TT      GT      TT      TT      GT      TT      GT      TT      GT      TT
37      TT      CT      TT      TT      CT      TT      CT      TT      CT      TT
38      CC      CA      CC      CC      CC      CC      CC      CC      CC      .
39      CC      CT      CC      CC      CT      CC      CT      CC      CT      CC
40      CC      CG      CC      CC      CC      CC      CC      CC      CC      CC
41      CC      CG      CC      CC      CC      CC      CC      CC      CC      CC
42      CC      CG      CC      CC      CC      CC      CC      CC      CC      CC
43      CT      CC      CC      CC      CT      TT      CC      CC      CT      CT
44      CC      CT      CT      CT      CC      CC      CC      CT      CC      CT
45      AG      AA      AA      AA      AG      GG      AA      AA      AG      AG
46      AA      AG      AA      AA      AG      AA      AG      AA      AG      AA
47      AC      AA      AA      AA      AC      CC      AA      AA      AC      CC
48      CC      GG      GC      GC      GC      CC      GC      GC      GC      GC
49      AA      AG      AG      AG      AA      AA      AA      AG      AA      AG
50      CT      TT      TT      TT      CT      CC      TT      TT      CT      CT
51      CT      TT      TT      TT      CT      CC      TT      TT      CT      CT
52      GA      GG      GG      GG      GA      AA      GG      GG      GA      GA
53      AG      AA      AA      AA      AG      GG      AA      AA      AG      AG
54      TC      CC      CC      CC      TC      TT      CC      CC      CC      CC
55      CT      TT      TT      TT      CT      CC      TT      TT      CT      CT
56      TA      AA      AA      AA      TA      TT      AA      AA      TA      TA
57      AA      AG      AA      AA      AG      AA      AG      AA      GG      AA
58      GG      GA      GA      GA      GG      GG      GG      GA      GG      GA
59      CC      CT      CT      CT      CC      CC      CC      CT      CC      CT
60      TC      TT      TT      TT      TC      CC      TT      TT      TC      TC
61      GC      GG      GG      GG      GC      CC      GG      GG      GC      GC
62      AG      GG      GG      GG      AG      AA      GG      GG      AG      AG
63      GC      GG      GC      GC      GG      GG      GC      GC      GG      GG
64      AA      GA      AA      AA      GA      AA      GA      AA      GA      AA</pre></data>
